/* Intro */

	.color-accent {
        color: _palette(accent);
	}

    .box.accent {
        border-color: _palette(accent);
	}

    .text-hyphens,
    [lang] {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .mr-t-15 {
        margin-top: 1.5rem !important;
    }

    .mr-b {
        margin-bottom: 0;
    }

    .mr-b-15 {
        margin-bottom: 1.5rem !important;
    }

    .dsp-fr {
        display: flow-root;
    }

    .resp-tab {
        thead {
            background-color: #bb33cc;
            th {
                &:first-child {
                    font-size: 1rem;
                }
                padding-top: 0.75rem;
                color: #ffffff;
                vertical-align: middle;
            }
        }
        tr {
            th, td {
                &:first-child {
                    width: 100%;
                    word-break: break-all;
                }
                &:not(:first-child){
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }
    }
